{% extends "base_generic.html" %}

{% block content %}

<form action="{%url 'library_app:search_books' %}" method="get">
	<input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
	<button id="search_submit" type="submit" >Submit</button>
</form>

<form action="{%url 'library_app:checkout'  %}" method="post">
	{% csrf_token%}
	<ul>
	<p></p>
			{% for book in book_list %}
			<div class="books">
				<li>
					<h5>Title: {{book.title}}</h5>
					<p> Author: {{book.author}}</p>
					{% if book.checked_out_to_whom == username %}
					This book is checked out to you
					{% elif book.checked_out_to_whom == "" %}
					<input type="checkbox" class="books" name="book_{{book.id}}"> Check out this title
					{% else %}
					This book is currently checked out to another user
					{% endif %}
					<p></p>
				</li>
			</div>
			{% endfor %}
			</ul>
			<button type="submit" >Check out</button>
</form>





{% endblock %}
