{% extends "base_generic.html" %}



{% block content %}


<h4>You have the following books checked out:</h4>


<form action="{%url 'library_app:return_books'  %}" method="post">
	{% csrf_token%}
	<ul class="no_bullets">
	<p></p>
			{% for book in my_checkouts %}
			<div class="books">
				<li>
					<h3>Title: {{book.title}}</h3>
					<p> Author: {{book.author}}</p>
					<p> Due: {{book.checked_out_when|date:"D, d M Y" }}
					<input type="checkbox" name="book_{{book.id}}"> Return this title
					<p></p>
				</li>
			</div>
			{% endfor %}
			</ul>
			<button type="submit" >Return selected titles</button>
</form>




{% endblock %}
